#portifolio {
  background-color: var(--base-color-gray-500);
  background-position: center;

  max-height: 917px;
  max-width: 1366px;
  margin: auto;

  padding-top: 72px;
  padding-bottom: 144px;
}

.polaroid {
  background-color: var(--base-color-gray-400);
  height: 280px;
  width: 330px;
  border-radius: 12px;
}

.polaroid:hover {
  outline: 1px solid var(--base-color-gray-300);
  cursor: pointer;
}

.images {
  height: 156px;
  width: 306px;
  border-radius: 8px;
  margin: 12px 12px 24px 12px;
}

.projects-grid {
  display: grid;
  grid-template-columns: 330px 330px 330px;
  gap: 24px;
  justify-content: center;
  margin-top: 56px;
}

.card-title {
  font: var(--title-sm-asap);
  color: var(--base-color-gray-100);
  margin-left: 16px;
  /* margin-bottom: 8px; */
}

.card-content {
  font: var(--text-sm-maven);
  color: var(--base-color-gray-200);
  /* margin-left: 16px;
  margin-right: 16px; */
  margin: 8px 16px 0;
}
